################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ICAR-LMS-BACK/FileContentIndex/a4a6b031-6a37-4a8e-ab3c-63466ae7fae3.vsidx
/.vs/ICAR-LMS-BACK/FileContentIndex/a4a6b031-6a37-4a8e-ab3c-63466ae7fae3.vsidx
/ICAR-LMS-BACK/Uploads/Book - Software Engineering (K. K. Aggarwal, Yogesh Si... (Z-Library).pdf
