################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ICAR-LMS-BACK/FileContentIndex/a4a6b031-6a37-4a8e-ab3c-63466ae7fae3.vsidx
/.vs/ICAR-LMS-BACK/FileContentIndex/a4a6b031-6a37-4a8e-ab3c-63466ae7fae3.vsidx
/ICAR-LMS-BACK/Uploads/Book - Software Engineering (K. K. Aggarwal, Yogesh Si... (Z-Library).pdf
/.vs/ICAR-LMS-BACK/FileContentIndex/3dc66723-7e34-4b5b-9d2e-7158309a10cd.vsidx
/.vs/ICAR-LMS-BACK/FileContentIndex/a1f4bbdb-7043-437a-8024-d877d2f70dd0.vsidx
/.vs/ICAR-LMS-BACK/FileContentIndex/b8fd91d5-b41d-4b93-8f9f-22b6d3549c61.vsidx
